body {
  padding-top: 5rem;
  background-color: #D0E0F1;
}

.ctn{
  background-color: #FFFFFF;
  box-shadow: 0 0 0.5rem grey;
  border-radius: 4px;
  padding: 2rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.calendario{
  text-align: center;
}

.asignaturas{
  max-height: 750px;
}

.hh{
  text-align: center;
  font-size: 1.1rem;
}